.gameInfo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  grid-gap: var(--spacing-small);
  align-items: center;
}

.deckInfo {
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    background-color: var(--near-white);
    border-radius: var(--border-radius-pill);
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
  }

  & > figure {
    font-weight: 700;
    & > figcaption {
      display: inline-block;
      padding-right: var(--spacing-small);
      font-weight: 500;
    }
  }
}

.draw {
  background-color: var(--washed-green);
  margin-right: var(--spacing-extra-small);
}
.discards {
  background-color: var(--washed-red);
  margin-left: var(--spacing-extra-small);
}
