.cardSlot {
  composes: flexCenter from global;
  padding: var(--spacing-small);
  width: 100%;
  height: 100%;
}

.emptySlot {
  composes: flexCenter from global;
  border: thin solid black;
  color: var(--black);
  border-radius: var(--border-radius-3);
  width: 10rem;
  height: 14rem;
}

.Card {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border: thin solid black;
  padding: var(--spacing-small);
  border-radius: var(--border-radius-3);
  width: 10rem;
  height: 14rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'dice' 'reward';
  background-color: var(--white-40);

  & > header {
    grid-area: header;
    font-size: var(--font-size-3);
    text-align: center;
  }
  & > footer {
    grid-area: reward;
  }
  & > ul {
    grid-area: dice;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    justify-items: center;
  }
}

.spot1 {
  grid-area: spot1;
}
.spot2 {
  grid-area: spot2;
}
.spot3 {
  grid-area: spot3;
}
.spot4 {
  grid-area: spot4;
}
.spot5 {
  grid-area: spot5;
}
.spot6 {
  grid-area: spot6;
}
.reward {
  grid-area: reward;
}
.rewards {
  composes: flexCenter from global;
}
