.Error404Page {
  grid-template-rows: auto 1fr;
  background-color: var(--red);


  & > header > h1 {
    font-size: var(--font-size-2);
  }

  & > nav {
    align-content:unset;
    align-items: unset;
    & > ul > li {
      list-style: none;
    }
  }
}
