.MainHeader {
  composes: flexRow from global;
  composes: itemsCenter from global;
  composes: justifyBetween from global;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  height: 100%;


  & > h1 {
    font-size: var(--font-size-6);
  }

  & > nav {
    align-content: unset;
    align-items: unset;

    & > ul {

      & > li {
        height: 100%;
        list-style: none;
        margin-left: var(--spacing-small);
        margin-right: var(--spacing-small);
        font-size: var(--font-size-5);

      }
    }
  }
}
.pageNav {
  composes: flexRow from global;
  composes: alignCenter from global;
  composes: justifyEnd from global;

}
