.loading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  & > * {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}
