.homePage {
  composes: grid from global;
  grid-template-rows: auto 1fr;

  & > nav {

    & > ul {
      margin: var(--spacing-none);
      padding: var(--spacing-none);

      & > li {
        list-style: none;
        margin: var(--spacing-none);
        padding: var(--spacing-none);
      }
    }
  }
}
