.blue.playerCard {
  --highlight-color: var(--blue);
  color: var(--blue);
}

.navy.playerCard {
  color: var(--navy);
  --highlight-color: var(--navy);
}

.green.playerCard {
  color: var(--green);
  --highlight-color: var(--green);
}

.pink.playerCard {
  color: var(--pink);
  --highlight-color: var(--pink);
}

.purple.playerCard {
  color: var(--light-purple);
  --highlight-color: var(--light-purple);
}

.gold.playerCard {
//color: var(--gold); --highlight-color: var(--gold);
}

.orange.playerCard {
  color: var(--orange);
  --highlight-color: var(--orange);
}

.red.playerCard {
  color: var(--red);
  --highlight-color: var(--red);
}

.playerCard {
  display: grid;
  padding: var(--spacing-extra-small);
  grid-row-gap: var(--spacing-extra-small);
  grid-template-rows: auto 1fr auto;

  & > header {
    grid-area: header;

    & > h2 {
      font-size: var(--font-size-6);
      color: var(--near-black);
      text-align: center;
    }
  }

  & > .dice {
    grid-area: dice;
    border-radius: var(--border-radius-3);
    background-color: var(--black-40);
  }

  & > .cards {
    grid-area: cards;
  }

  & > .actions {
    grid-area: actions;
  }

  border-color: var(--highlight-color);
  background: linear-gradient(
      var(--gradient-angle),
      var(--highlight-color) 0%,
      transparent 33.3%,
      transparent 100%
  );
  opacity: 50%;
}

.dice {
  composes: flexCol itemsCenter justifyBetween from global;
}

.currentPlayer {
  background-color: var(--white-30);

}

.player1 {
  --gradient-angle: 140deg;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'actions money' 'cards dice' 'header dice';

  & > header > h2 {
    text-align: left;
  }
}

.player2 {
  --gradient-angle: -140deg;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'money actions' 'dice cards' 'dice header';

  & > header > h2 {
    text-align: right;
  }
}

.player3 {
  --gradient-angle: -40deg;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'dice header' 'dice cards' 'money actions';

  & > header > h2 {
    text-align: right;
  }
}

.player4 {
  --gradient-angle: 40deg;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'header dice' 'cards  dice' 'actions money';

  & > header > h2 {
    text-align: left;
  }
}

.money {
  composes: flexCenter from global;
  grid-area: money;
  border-radius: var(--border-radius-circle);
  background-color: var(--white-70);
  height: var(--spacing-extra-large);
  max-height: var(--spacing-extra-large);
  max-width: var(--spacing-extra-large);
  width: var(--spacing-extra-large);

  position: relative;

  & > h5 {
    font-size: var(--font-size-6);
    font-weight: bold;
    text-align: center;
    width: var(--spacing-extra-large);
  }
}

.actions {
  composes: flexCenter from global;

  &  button {
    border-radius: var(--border-radius-3);
    font-size: var(--font-size-4);
  }
}

.panes {

}

